.jumpGame{
    position: absolute;
    margin-left: 22px;
    z-index: 6;
    width: 700px;
    height: 650px;
}

.jumpGame .containerJump #canvas{
    background-color: rgb(95, 94, 92);
    background-image: url();
}

.jlife {
    position: absolute;
    height: 5%;
    width: 50%;
    background-color: brown;
    border-radius: 5px;
    z-index: 11;
}

.jgragh{
    height: 5%;
    width: 50%;
    left: 1px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
}




