* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    height: 75px;
}
#intro{
    height: 100%;
    display: grid;

    grid-template: "logo menu" 1fr / 1fr 1fr;
}

.logo{
    height: 100%;
    background-color: #fbfbfb;
    grid-area: logo;
    height: 75px;
    line-height: 75px;
    margin-left:50px;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

ul {
    height: 100%;
    font-weight: bold;
    list-style: none;
    font-size: 20px;
    grid-area: menu;
    display: grid;
    grid-template: "one two three" 1fr / 1fr 1fr 1fr;

    height: 75px;
    line-height: 75px;
    text-align: center;
}


main{
    width: 100%;
    display: grid;
    grid-template: "one two"
                   "three three"
                   "line line";
    gap: 0px;
}

.item img{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.item:hover img{
    transition: all 1s linear;
    transform: scale(1.4);
}

.line{
    grid-area: line;
    text-align: center;
    padding: 20px;
}

ul .one {
    background-color: #cfcfd6;
    grid-area: one;
}

ul .two {
    background-color: #dcdcec;
    grid-area: two;
}

ul .three {
    background-color: #cbcae3;
    grid-area: three;
}

main .one {
    background-color: #532fa1;
}

main .two {
    background-color: #a44789;
}

main .three {
    background-color: #3ab6bc;
}

h2{
    text-align: center;
    color: #fbfbfb;
}

#footer{
    display: grid;
    grid-template: "copyright address";
    text-align: center;

    padding: 20px;
}

.copyright{
    grid-area:copyright;
}

.address{
    grid-area:address;
}

@media screen and (max-width: 760px){
    main{
        display: flex;
        flex-direction: column;
    }
}