*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    border-radius: 5px;
}

h1{
    height: 50px;
    text-align: center;
    border-bottom: 5px solid rgb(194, 192, 192);
}
#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.item{
    height: 10vh;
    width: 90%;
    border-top: solid rgb(194, 192, 192) 1px;
    border-right: solid rgb(199, 198, 198) 1px;
    background-color: antiquewhite;
    margin-top: 10px;
    border-radius: 5px;
}
#addBtn{
    height: 50px;
    width: 100%;
}
#menu{
    display: flex;
    flex-direction: column;
}
#garbage{
    margin-top: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(216, 214, 214);
}
footer{
    width: 35%;
    display: flex;
    flex-grow: 1;
}

